@model assClevelNew.Models.article

@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="text-center" style="font-weight: bolder; font-size: 1.8em;color:white;">
                @Html.DisplayFor(model => model.aname)
        </h3><br />
        <h3 class="text-center" style="font-weight: bolder; font-size: 1em;color:white;">
            @Html.DisplayFor(model => model.atime) <br /><br /> @Html.DisplayFor(model => model.atype)
        </h3>
    </div>
</div>
<hr />
<div class="container-fluid" style="font-weight: bolder; font-size: 1.3em;color:white;">
    <div class="row-fluid">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <p>@Html.DisplayFor(model => model.acontents)</p>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
    <p><a href="@Html.DisplayFor(model => model.apublisher)">look full news</a></p>
</div>
</div>


