@model IEnumerable<assClevelNew.Models.article>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#data').DataTable({ order: [1, 'asc'] });
    });
</script>

<body>
    <h1 class="text-center" style="font-weight: bolder; font-size: 1.8em;color:white;">news</h1>


    <p>
        <button class="btn" type="button"> @Html.ActionLink("Create New", "Create")</button>
    </p>
    <div style="background-color: hsla(240, 0%, 50%, 0.6)">
        <p class="text-right" style="color:white"> enter any key words to search</p>
        <table class="table table-hover table-striped" id="data">
            <thead>
                <tr>
                    <th>
                        news name
                    </th>
                    <th>
                        date
                    </th>
                    <th>
                        type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.aname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.atime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.atype)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details2", new { id = item.articleid })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>